.product-card {
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    background-size: cover !important;
    flex-direction: column;
    cursor: default;

    >p {
        font-style: italic;
    }

    .product-name {
        color: #1976d2;
        text-align: center;
        font-weight: bold;
        font-size: large;
        padding-top: 2rem;
        box-shadow: 0px 1px 0px #1976d2;
        width: 80%;
        padding-bottom: 1rem;
        cursor: default;
    }

    .product-badges {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .product-img {
        height: 70%;
        cursor: default;

        &:hover {
            opacity: 0.8;
            color: black;
        }
    }

    .product-description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        cursor: default;

        p {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .product-description--price {
            font-weight: bold;
        }
    }

    .product-seemore {
        cursor: default;
        margin: 1.5rem;
    }

    .product-empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }

    &:active {
        transform: scale(0.8);
        transition-duration: 0.7s;
    }
}